<div class="summary pull-right">
    {{books.summaryData.bookCount}} Books - {{books.summaryData.readerCount}} Readers - {{books.summaryData.grandTotalMinutes}} Total Minutes Read
</div>

<div class="all_books">
    <h3>
        All Books&nbsp;
        <a ui-sref="app.addBook" title="Add New Book"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
        <a ui-sref="app.editBook({bookID: books.currentUser.lastBookEdited._id})" title="Open Last Edited"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

        <div class="pull-right">
            <!--<i class="fa fa-search" aria-hidden="true"></i>-->
            <input type="text" class="form-control" name="search" placeholder="Search.." ng-model="books.search">
        </div>
    </h3>
</div>
<div class="row">
    <div class="col-sm-3 col-md-2 book-listing boxInner" ng-repeat="book in books.loadedBooks | filter:books.search">
        <div class="book-container book-list">
            <img ng-src="{{books.thumbnail}}" height="250px" title="{{book.title}} Thumbnail" />
        </div>

        <h4 style="margin-top:19px;">{{book.title}} - <small class="">{{book.author}}</small></h4>

        <a ui-sref="app.editBook({bookID: book._id})">Edit</a> |
        <a href="" ng-click="books.deleteBook(book._id)">Delete</a>
    </div>
</div>
<center style="margin-top: 20px;">
    <div ng-show='books.loading.busy && !books.loading.complete'><img width="20px" src="http://intuitglobal.intuit.com/delivery/cms/prod/sites/default/intuit.ca/images/quickbooks-sui-images/loader.gif" /> Loading data...<br/><br/></div>
    <div ng-show='books.loading.busy && books.loading.complete'><img width="20px" src="http://intuitglobal.intuit.com/delivery/cms/prod/sites/default/intuit.ca/images/quickbooks-sui-images/loader.gif" /> No more data...<br/><br/></div>
    <div><button class="btn btn-default" ng-click="books.loadMoreData()">Load more...</button></div>
</center>

<h3>All Readers</h3>
<div>
    <ul>
        <li ng-repeat="reader in books.allReaders">{{reader.name}} - {{books.getBadge(reader.totalMinutesRead)}}</li>
    </ul>
</div>

<h3>Current Favorite Book</h3>
<div>
    {{books.favoriteBook}}
</div>