<!--<div class="summary pull-right">
    {{books.summaryData.bookCount}} Books - {{books.summaryData.readerCount}} Readers - {{books.summaryData.grandTotalMinutes}} Total Minutes Read
</div>-->

<div class="all_books">
    <h3>
        All Books&nbsp;
        <a ng-show="books.isAuthenticated" ui-sref="app.addBook" title="Add New Book"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>

        <div class="pull-right">
            <!--<i class="fa fa-search" aria-hidden="true"></i>-->
            <input type="text" class="form-control" name="search" placeholder="Search.." ng-model="books.search">
        </div>
    </h3>
</div>
<div class="row">
    <div class="col-sm-3 col-md-2 book-listing boxInner" ng-repeat="book in books.loadedBooks | filter:books.search">
        <div class="book-container book-list">
            <img ng-src="{{books.thumbnail}}" height="250px" title="{{book.title}} Thumbnail" />
        </div>

        <h4 style="margin-top:19px;">{{book.title}} - <small class="">{{book.author}}</small></h4>

        <div>
            <div ng-show="books.isAdmin">
                <a ui-sref="app.editBook({bookID: book._id})">Edit</a> |
                <a href="#" data-toggle="modal" data-target="#bookDeleteModal" ng-click="books.setBookDelete(book._id, book.title)">Delete</a>
            </div>
            <div ng-hide="books.isAdmin">
                <a ui-sref="app.viewBook({bookID: book._id})">View</a>
                <a ng-show="books.isAuthenticated" href="#" data-toggle="modal" data-target="#bookReadModal" ng-click="books.setBookRead(book._id, book.title)"> | Read Book</a>
            </div>
        </div>
    </div>
</div>
<center style="margin-top: 20px;">
    <div ng-show='books.loading.busy && !books.loading.complete'><img width="20px" src="http://intuitglobal.intuit.com/delivery/cms/prod/sites/default/intuit.ca/images/quickbooks-sui-images/loader.gif" /> Loading data...<br/><br/></div>
    <div ng-show='books.loading.busy && books.loading.complete'><img width="20px" src="http://intuitglobal.intuit.com/delivery/cms/prod/sites/default/intuit.ca/images/quickbooks-sui-images/loader.gif" /> No more data...<br/><br/></div>
    <div><button class="btn btn-default" ng-click="books.loadMoreData()">Load more...</button></div>
</center>

<!-- Book Read Modal -->
<div class="modal fade" id="bookReadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <br/>
                <h4 class="modal-title">How much time did it take to read the book? <small>({{books.bookRead.title}})</small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="time" class="col-md-3 col-md-offset-1 control-label">Time in minutes</label>
                        <div class="col-md-5">
                            <input type="number" ng-model="books.bookRead.timeRead" class="form-control" id="time" placeholder="Time in minutes">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="books.setAsRead(books.bookRead.id)" data-dismiss="modal" data-toggle="modal" data-target="#bookReadSuccessModal">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Book Read Success Modal -->
<div ng-show="books.bookRead.message" class="modal fade" id="bookReadSuccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 30px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <br/>
                <h5 class="modal-title">{{books.bookRead.message}}"</h5><br/>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="books.reloadState('app.readBooks')">Go to Read Books</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" ui-sref="app">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Book Delete Modal -->
<div class="modal fade" id="bookDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 30px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <br/>
                <h4 class="modal-title">Do you want to delete the book named "{{books.bookDelete.title}}"?</h4>
                <br/>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#bookDeleteSuccessModal" ng-click="books.deleteBook(books.bookDelete.id)">Yes, Delete Book</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">No, Leave Book</button>
            </div>
        </div>
    </div>
</div>

<!-- Book Delete Success Modal -->
<div ng-show="books.bookDelete.message" class="modal fade" id="bookDeleteSuccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 30px;">
                <h5 class="modal-title">{{books.bookDelete.message}}</h5><br/>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>