<div class="container margin_60">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 login-box">
            <div class="text-center">
                <h3>Register</h3>
            </div>
            <div class="">&nbsp;</div>
            <div class="">
                <form class="form-horizontal" role="form" ng-submit="register.register()">
                    <div class="form-group">
                        <label for="bookTitle" class="col-md-2 col-md-offset-1 control-label">Firstname</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="register.registerData.firstname" class="form-control" id="bookTitle" placeholder="...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bookTitle" class="col-md-2 col-md-offset-1 control-label">Lastname</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="register.registerData.lastname" class="form-control" id="bookTitle" placeholder="...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bookTitle" class="col-md-2 col-md-offset-1 control-label">Username</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="register.registerData.username" class="form-control" id="bookTitle" placeholder="...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bookTitle" class="col-md-2 col-md-offset-1 control-label">Password</label>
                        <div class="col-md-8">
                            <input type="password" ng-model="register.registerData.password" class="form-control" id="bookTitle" placeholder="...">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-md-1">
                            <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#RegisterUserSuccessModal">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Register User Success Modal -->
<div ng-show="register.message" class="modal fade" id="RegisterUserSuccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 30px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <br/>
                <h5 class="modal-title">{{register.message}}</h5><br/>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="register.goToPage('/login')">Login</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" ng-click="register.goToPage('/')">Close</button>
            </div>
        </div>
    </div>
</div>