<div class="container margin_60">
    <div class="row">
        <div class="col-md-4 login-box" style="margin-right: 5%;">
            <div class="">
                <img ng-src="{{book.currentBook.image || book.thumbnail}}" height="250px" title="{{book.currentBook.title}} Cover" />
            </div>
        </div>
        <div class="col-md-7 login-box" style="margin-top: 5%;">
            <div class="text-center">
                <h3>View Book</h3>
            </div>
            <div class="">&nbsp;</div>
            <div class="">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="bookTitle" class="col-md-1 col-md-offset-1 control-label">Title</label>
                        <div class="col-md-8">
                            <input ng-model="book.currentBook.title" type="text" class="form-control" id="bookTitle" placeholder="Title" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bookAuthor" class="col-md-1 col-md-offset-1 control-label">Author</label>
                        <div class="col-md-8">
                            <input ng-model="book.currentBook.author" type="text" class="form-control" id="bookAuthor" placeholder="Author" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bookPublished" class="col-md-1 col-md-offset-1 control-label">Year</label>
                        <div class="col-md-8">
                            <input ng-model="book.currentBook.year_published" type="text" class="form-control" id="bookPublished" placeholder="Year Published" disabled>
                        </div>
                    </div>
                    <div class="form-group" ng-show="book.isAuthenticated">
                        <div class="col-md-offset-2 col-md-3">
                            <button class="btn btn-default" data-toggle="modal" data-target="#FavoriteBookSuccessModal" ng-click="book.setAsFavorite()">Set as Favorite</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Favorie Book Success Modal -->
<div ng-show="book.message" class="modal fade" id="FavoriteBookSuccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 30px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <br/>
                <h5 class="modal-title">{{book.message}}</h5><br/>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="book.goToFavorites()">Go to Favorites</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>